mixin comment(model)
	if model.kind === 'more'
		// @TODO loading more comments is not implemented
		//h5 MORE
	else
		.media.comment
			.media-left
			.media-body
				.panel.panel-default
					.panel-body
						| !{url.unraw(model.body_html)}
					.panel-footer
						| Author:&nbsp;
						a(href='https://www.reddit.com/u/' + model.author)= model.author
						| . Created at #{moment.unix(model.created_utc).format('YYYY-mm-DD HH:mm')}
				if model.replies
					each reply in model.replies
						+comment(reply)