html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.row + .row {
	margin-top: 15px;
}

.comment > .media-left {
	width: 32px;
	display: none;

	.comment & {
		display: table-cell;
	}
}