doctype html
html
	head
		title test
		link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		.container
			#viewport
		script(src='lib/requirejs/require.js', data-main='js/main')